<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookie.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="app.cookie.app.dependency.App">
        <activity android:name="app.cookie.app.view.recipes.RecipeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.cookie.app.view.recipedetails.RecipeDetailsActivity"
            android:parentActivityName="app.cookie.app.view.recipes.RecipeActivity" />
        <activity android:name="app.cookie.app.view.stepdetails.StepDetailsActivity"
            android:parentActivityName="app.cookie.app.view.recipedetails.RecipeDetailsActivity"></activity>
    </application>

</manifest>